[defaults]
inventory = inventory.ini
host_key_checking = False
remote_user = ubuntu
# YOU MUST UPDATE THIS PATH to point to your .pem file on your local machine (WSL)
private_key_file = ~/.ssh/devops-key.pem
